@media (min-width: 800px){
  * {
    box-sizing: border-box;
}

}


body {
    margin: 0;
    padding: 0;
    background-color: #444059;
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #444059;
    color: white;
    flex-wrap: wrap;
box-shadow: rgba(0, 0, 0, 0.20) 20px 65px 65px 20px;

}

.current {
	color: #df3e23;
}

.icons {
  position: absolute;
  right: 0;
  flex-wrap: wrap;
}


.logo {
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
display: flex;
margin: 0;
padding: 0;
padding-right: 352px;
flex-wrap: wrap;

}

.navbar-links li {
    list-style: none;
    left: 0;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #757575;
    padding: 1rem;
    font-family: Helvetica;
    font-weight: bold;
}

.navbar-links li a:hover {
    background-color: #ffff;
    color: #757575;
    border-radius: 2px;
}

.p-menu {
    position: absolute;
    margin-left:-110px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    color: #757575;
    font-family: Helvetica;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top:1.2rem;
    margin-left:65px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #757575;
    border-radius: 7px;
}

.dropbtn {
  background-color: #444059;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #444059;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434057;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #ffff;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: Helvetica;
}

.dropdown-content a:hover {
  background-color: #ffff;
  color: #757575;

}

.dropdown-content p {
  color: grey;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: lighter;
}

.show {display:block;}

/* Timms CSS START - DRAG AND DROP VEDHÆFTET FIL */

#object1 {
  display:inline-block;
  background-color: #3f3f3f;
  border: #DFBC6A 1px solid;
  border-radius: 5%;
  width: 120px;
  height: 25px;
  margin: 10px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  cursor: move;
}

#object2 {
  display:inline-block;
  background-color: #3f3f3f;
  border: #DFBC6A 1px solid;
  border-radius: 5%;
  width: 120px;
  height: 25px;
  margin: 10px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  cursor: move;
}

#object3 {
  display:inline-block;
  background-color: #3f3f3f;
  border: #DFBC6A 1px solid;
  border-radius: 5%;
  width: 120px;
  height: 25px;
  margin: 10px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  cursor: move;
  text-align: center;
  text-justify: auto;
}

#drop_zone {
  background-color: #EEE;
  border: #999 1px solid;
  border-radius: 5px;
  width: 700px;
  height: 120px;
  padding: 8px;
  font-size: 18px;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #3f3f3f;
}
/* Timms CSS SLUT - DRAG AND DROP VEDHÆFTET FIL */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .p-menu {
          position: absolute;
          margin-left: 110px;
          top: 11px;
          flex-direction: column;
          justify-content: space-between;
          font-size: 13px;
    }


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 50%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
            font-size: 25px;
    }

    .navbar-links.active {
        display: flex;
    }
}


@media (max-width: 475px) {

.icons {
  transform: scale(0.75);
  transform-origin: right;

}
}

@media (max-width: 390px) {

.icons {
  transform: scale(0.65);
  transform-origin: right;

}
}